<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
    <title>Shopping List Vue</title>
</head>
<body>
    <div class="ui container grid ">
        <div id="shopping-list" class="column ui fluid card">
            <app-title></app-title>
            <item-input></item-input>
            <list></list>
        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js"></script>
    <script>
        Vue.component('list', {
            created: function() {
                this.$root.$on('additem', this.saveItem)
            },
            data: function() {
                return {
                    items : [
                    {
                        label: '10 Oranges',
                        purchased: false
                    }, {
                        label: '12 Bananas',
                        purchased: false
                    }, {
                        label: '3 Apples',
                        purchased: false
                    }
                    ]
                }
            },
            methods: {
                saveItem: function(newItem) {
                    this.items.push({
                        label: newItem,
                        purchased: false
                    })
                },
                togglePurchase: function(item) {
                    item.purchased = !item.purchased
                }
            },
            computed: {
                reverseItems: function() {
                    return this.items.slice(0).reverse()
                }
            },  
            template: 
            `
                <div class="ui selection list">
                    <div v-for="i in reverseItems" @click="togglePurchase(i)" class="item" v-bind:class="{purchased: i.purchased}">
                        <span>
                            <i class="angle right icon"></i>
                            {{ i.label }}
                        </span>
                    </div>
                </div>
            `
        })
    </script>
    <script>
        Vue.component('item-input', {
            data: function() {
                return {
                    newItem: ''
                }
            },
            methods: {
                saveItem: function() {
                    if(this.newItem.length !== 0) {
                        this.$root.$emit('additem', this.newItem)
                        this.newItem = ''
                    }
                }
            },
            template:
            `
                <div class="ui action input">    
                    <input @keyup.enter="saveItem" v-model="newItem" type="text" placeholder="Add Item">
                    <button v-bind:disabled="newItem.length === 0" v-on:click="saveItem" class="ui button">Add</button>
                </div>
            `
        })
    </script>
    <script>
        Vue.component('app-title', {
            data: function() {
                return {
                    header: 'shopping list app'
                }
            },
            template:
            `
                <h1 class="header">{{ header.toLocaleUpperCase() }}</h1>
            `
        })
    </script>
    <script>
        var vm = new Vue({
            el: "#shopping-list"
        })
    </script>
</body>
</html>